* {
  margin: 0;
  padding: 0;
  background-color: #bcb8b1;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.video {
  margin: 30px;
  border-color: #463f3a;
}

.botonWhatsApp img {
  width: 45px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  background: none;
}

.botonInstagram img {
  width: 38px;
  position: fixed;
  bottom: 140px;
  right: 15px;
  background: none;
}

.carousel-item {
  opacity: 65%;
}

.navbar-brand {
  color: #463f3a;
  font-weight: bolder;
}

.container-fluid a {
  color: #463f3a;
}

.dropdown-menu {
  background-color: #bcb8b1;
}

.card {
  margin: 10px;
  padding: 1rem;
  margin-bottom: 5rem;
  background-color: #bcb8b1;
  border: 2px solid #463f3a;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: medium;
  opacity: 70%;
}
.card:hover {
  border: 5px solid #463f3a;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  opacity: 100%;
}

.card-title {
  font-weight: bolder;
}

.logoPrincipal {
  width: 2rem;
  height: 2rem;
}

.btn-primary {
  background-color: #463f3a;
  border: 2px solid #463f3a;
  font-weight: bold;
  color: #bcb8b1;
}
.btn-primary:hover {
  background-color: #8a817c;
  border: 2px solid #8a817c;
  font-weight: bold;
  color: #f4f3ee;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.rowProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top {
  padding: 0;
  padding-top: 10px;
}
.top button {
  font-weight: bolder;
  font-size: small;
  color: #bcb8b1;
  background-color: #463f3a;
}
.top a {
  font-size: 200%;
  text-decoration: solid underline;
}

.titles {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-align: center;
  font-weight: bolder;
}

.faqForm {
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 10px;
}
.faqForm h3 {
  text-decoration: underline;
  font-size: smaller;
}

.form-control {
  background-color: #f4f3ee;
}

.faqbtn {
  margin: 2rem;
  margin-bottom: 4rem;
}

.lastVideo {
  margin-bottom: 5rem;
}

.index h1 {
  position: fixed;
  top: 20px;
  left: 10px;
  background: none;
  animation-name: text;
  animation-duration: 5s;
}
.index h2 {
  position: fixed;
  top: 60px;
  left: 10px;
  background: none;
  text-decoration: underline;
  animation-name: text;
  animation-duration: 10s;
}

h3 {
  font-size: medium;
}

h4 {
  margin: 0%;
  padding-left: 20px;
}

.flex-column a {
  color: #463f3a;
  font-size: smaller;
  padding: 0;
}

.form-control {
  margin-left: 20px;
  width: 500px;
  font-size: smaller;
}

.form-label {
  margin-left: 20px;
  font-size: smaller;
}

.form-check {
  margin-left: 20px;
  font-size: 10px;
}

.btn-primary {
  font-size: smaller;
}

.contactButton {
  margin-left: 20px;
}

.videoExplanation {
  text-align: center;
  background-color: #bcb8b1;
}

@keyframes text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 600px) {
  .carousel,
.navbar {
    display: none;
  }
  .botonWhatsApp img {
    width: 45px;
    position: fixed;
    top: 17px;
    right: 10px;
    background: none;
  }
  .botonInstagram img {
    width: 38px;
    position: fixed;
    top: 20px;
    right: 60px;
    background: none;
  }
  .video {
    width: 75%;
    height: 75%;
  }
  .form-control {
    max-width: 20rem;
  }
}
@media (min-width: 601px) {
  .carouselMobile,
.flex-column {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
